ion-badge {
  margin: 22px;
  padding: 11px;
  font-size: 20px;
}

ion-button.remove-filter {
  margin: 0;
}

ion-grid {
  background-color:rgb(17, 17, 17) !important;
  margin: 0 13px;
}

ion-input.search-name-input {
  font-size: 14px;
}

ion-item.ion-item-search-episode {
  --background:rgb(17, 17, 17) !important;
}

ion-header {
  border: 1px solid;
}

ion-select {
  font-size: 19px;
}
