.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}


.content {
  width: 100% !important;
  height: 70% !important;
}

ion-card {
  background-color: inherit !important;
}

ion-toolbar {

  --border-style: none;
  --border-width: 0;
}
